* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Helvetica',sans-serif;
  margin: 0;
}

.container {
  max-width: 1170px;
  width: 98%;
  margin: auto;
}

.section {
  padding: 150px 0;
}

.section:last-child {
  padding-bottom: 0;
}

.title {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 16px;
}

.input {
  background: #F8F8F8;
  border: none;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 14px;
}

.button {
  background-color: #ffbb42;
  border: none;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 14px;
  -webkit-transition: .5s;
  transition: .5s;
}

.button:hover {
  cursor: pointer;
  background-color: #ffcd75;
  color: #1a1a1a;
}

.hero {
  padding: 22px 0;
}

.hero-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-menu__item {
  color: #7b7b7b;
  margin-right: 40px;
  text-transform: uppercase;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-menu__item:hover {
  padding: 14px 20px;
  color: white;
  background-color: #ffbb42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 1px;
  margin-left: 1px;
}

.serch {
  margin-top: 0;
  height: 590px;
  width: 100%;
  background-color: #709dca;
  background-image: url("../img/Laptop.png");
  background-repeat: no-repeat;
  background-position: center top 300px;
  background-size: 30%;
}

.serch-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.serch__title {
  margin-top: 110px;
  color: white;
  margin-bottom: 5px;
}

.serch__subtitle {
  margin-bottom: 35px;
  color: white;
}

.form-button {
  color: white;
  text-transform: uppercase;
}

.form-button:hover {
  cursor: pointer;
}

.offer {
  color: #7b7b7b;
}

.offer-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 90px;
}

.offer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-ordinal-group: inherit;
      -ms-flex-order: inherit;
          order: inherit;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-bottom: 80px;
}

.card__img {
  margin-right: 40px;
}

.card__title {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.card__text {
  width: 420px;
}

.one {
  -webkit-box-ordinal-group: -3;
      -ms-flex-order: -4;
          order: -4;
}

.two {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
}

.three {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.four {
  -webkit-box-ordinal-group: -2;
      -ms-flex-order: -3;
          order: -3;
}

.six {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about {
  background-color: #ffc155;
  background-image: url("../img/about_bgc.png");
  background-position: left top;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  color: white;
}

.about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-block__description {
  margin-left: 100px;
  width: 50%;
  font-size: 13px;
  line-height: 1.6;
}

.about__title {
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 60px;
}

.about-img {
  width: 50%;
  padding: 0;
}

.about__button {
  padding: 15px 30px;
  border: 1px solid black;
  background-color: transparent;
}

.price {
  background-color: #e7edf3;
}

.price-src {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.price__subtitle {
  display: block;
  color: #7b7b7b;
  margin-bottom: 0;
}

.price-plan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.price__title {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: 700;
  color: #7b7b7b;
  text-transform: uppercase;
}

.price-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #7b7b7b;
  background-color: #ffffff;
  padding: 55px 25px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.price-card:hover {
  padding: 55px 40px;
  color: white;
  background-color: #709dca;
}

.price-card:hover .price-card__line {
  background: #fff;
}

.price-card:hover .price__title {
  color: white;
}

.price-card__subtitle {
  text-transform: uppercase;
  margin-bottom: 35px;
}

.price-card__line {
  width: 330px;
  height: 1px;
  background: #7b7b7b;
}

.price__pay {
  font-size: 60px;
  color: #ffbb42;
}

.price__sup {
  font-size: 30px;
  position: relative;
  top: -10px;
}

.price__txt {
  padding: 16px 0;
  text-transform: uppercase;
  font-weight: 30;
}

.price__txt__last {
  padding-bottom: 0;
  margin-bottom: 35px;
}

.price-button {
  text-transform: uppercase;
  color: white;
}

.steps-titls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.steps-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 95px;
}

.steps-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps-img {
  margin-bottom: 80px;
}

.steps-txt {
  text-align: center;
}

.steps-arrow__down {
  position: relative;
  top: 80px;
}

.steps-title {
  text-transform: uppercase;
  margin-bottom: 35px;
}

.steps-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.review {
  background-color: #ffc155;
  color: #7b7b7b;
}

.review-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  color: white;
}

.review-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.review-card {
  width: 565px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 30px;
  background-color: #fff;
}

.review-card__img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-right: 30px;
  background-image: url("../img/review/h_1.png");
  background-position: center center;
  background-size: contain;
}

.review-card__txt {
  width: 340px;
}

.review__description {
  display: inline;
  font-size: 14px;
}

.review__subtitle {
  display: block;
  margin-top: 25px;
}

.review-two {
  background-image: url("../img/review/h_2.png");
  background-image-background-position: center center;
  background-image-background-size: contain;
}

.review-five {
  background-image: url("../img/review/h_3.png");
  background-image-background-position: center center;
  background-image-background-size: contain;
}

.review-four {
  background-image: url("../img/review/h_4.png");
  background-position: center center;
  background-size: contain;
}

.orang {
  text-transform: uppercase;
  color: #ffbb42;
  font-weight: 300;
}

.info {
  padding-bottom: 0;
  color: #394b50;
}

.info-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__title {
  margin-bottom: 5px;
}

.info__subtitle {
  margin-bottom: 35px;
}

.info-img {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 600px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  margin-bottom: 70px;
}

.info-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  line-height: 1.7;
  margin-top: 40px;
  color: white;
  height: 280px;
  width: 280px;
  border-radius: 50%;
  background-color: #394b50;
}

.info-title {
  text-transform: uppercase;
}

.info-link {
  text-decoration: none;
  color: white;
}

.info-menu {
  margin-bottom: 30px;
}

.info-menu__item {
  color: #7b7b7b;
  margin-right: 40px;
  text-transform: uppercase;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.down-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.down-phone {
  display: inline-block;
  text-decoration: none;
  font-size: 25px;
  color: #7b7b7b;
  margin-bottom: 25px;
}

.down-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.down-conf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 13px;
  padding: 15px;
  background-color: #709dca;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */